
@{
    ViewBag.Title = "Chăm sóc khách hàng";
}
@*<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Chăm sóc khách hàng</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Trang chủ</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Chăm sóc khách hàng</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>*@
@*<link href="~/Content/styles.css" rel="stylesheet" />*@
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container position-fixed">
                <ul class="nav nav-tabs">
                    <li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-laptop"></i> Tất cả <span class="label label-warning">12</span></a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-laptop"></i> Đơn mới <span class="label label-success">3</span></a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-3"><i class="fa fa-laptop"></i> Đã xác nhận <span class="label label-primary">3</span></a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-4"><i class="fa fa-laptop"></i> Đã gửi hàng <span class="label label-primary">3</span></a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-5"><i class="fa fa-laptop"></i> Đã nhận <span class="label label-primary">3</span></a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-6"><i class="fa fa-laptop"></i> Đã hoàn <span class="label label-primary">3</span></a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-7"><i class="fa fa-laptop"></i> Đã hủy <span class="label label-danger">3</span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-order">
                                    <thead>
                                        <tr>
                                            <th class="th-fixed i-checks check-all" style="width:35px;"><input type="checkbox" checked name="input[]"></th>
                                            <th class="th-fixed text-center" style="width:120px;">Mã ĐH </th>
                                            <th class="th-fixed text-center" style="width:120px;">Trạng thái </th>
                                            <th class="customer_name th-fixed">Khách hàng</th>
                                            @*<th>Facebook KH</th>*@
                                            <th>Địa chỉ</th>
                                            <th style="width:120px;">Tags</th>
                                            <th>Ghi chú NB</th>
                                            <th>Sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Tiền COD</th>
                                            <th>ĐVVC</th>
                                            <th style="width:180px;">Người tạo</th>
                                            <th>Ngày tạo</th>
                                            <th>Ngày gửi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < 20; i++)
                                        {
                                            <tr>
                                                <td style="width:35px;"><input type="checkbox" class="i-checks checker" name="input[]"></td>
                                                <td style="width:120px;"><button class="btn btn-outline-success btn-code">AA00000001</button></td>
                                                <td style="width:120px;">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-danger btn-state">Đơn mới</button>
                                                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split btn-state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Hủy đơn</a>
                                                            <a class="dropdown-item" href="#">Đơn mới</a>
                                                            <a class="dropdown-item" href="#">Xuất hàng</a>
                                                            <a class="dropdown-item" href="#">Chờ gửi</a>
                                                            <a class="dropdown-item" href="#">Đang gửi</a>
                                                            <a class="dropdown-item" href="#">Nhận hàng</a>
                                                            <a class="dropdown-item" href="#">Nhận COD</a>
                                                            <a class="dropdown-item" href="#">Báo hoàn</a>
                                                            <a class="dropdown-item" href="#">Nhận hoàn</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Hủy</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                @*<td>Nguyễn Văn Thanh</td>*@
                                                <td>
                                                    <div class="font-bold">0343485515</div>
                                                    <div>Thanh Nguyễn</div>
                                                </td>
                                                <td>Quang Minh, Hiệp Hòa, Bắc Giang</td>
                                                <td style="width:120px;">
                                                    <button class="btn btn-outline-success btn-tag" type="button">
                                                        <i class="fa fa-star"></i>&nbsp;Khách quen
                                                    </button>
                                                </td>
                                                <td>Không có</td>
                                                <td>Kính mắt ABC</td>
                                                <td>150.000 VNĐ</td>
                                                <td>180.000 VNĐ</td>
                                                <td>Viettel Post</td>
                                                @*<td class="client-avatar"><img alt="Nguyễn Văn Thanh" src="~/Images/prof.jpg"> </td>*@
                                                <td class="client-avatar" style="width:180px;"><a href="#contact-1" class="client-link"><img alt="Nguyễn Văn Thanh" src="~/Images/prof.jpg"> Nguyễn Văn Thanh</a></td>
                                                <td>@DateTime.Now.ToShortDateString()</td>
                                                <td>@DateTime.Now.ToShortDateString()</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <strong>T2</strong>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <strong>T3</strong>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <strong>T4</strong>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <strong>T5</strong>
                        </div>
                    </div>
                    <div id="tab-6" class="tab-pane">
                        <div class="panel-body">
                            <strong>T6</strong>
                        </div>
                    </div>
                    <div id="tab-7" class="tab-pane">
                        <div class="panel-body">
                            <strong>T7</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal inmodal modal-product" id="modal-add-order" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Đơn mới </h4>*@
                <div class="mp-header">
                    <ul>
                        <li class="active">
                            <a>ĐƠN HÀNG</a>
                        </li>
                        <li class="">
                            <a>VẬN CHUYỂN </a>
                        </li>

                        <li class="">
                            <a> LỊCH SỬ</a>
                        </li>
                        <li>
                            <a> In phiếu</a>
                        </li>
                    </ul>
                    <div class="user-control">
                        <span></span>
                        <a class="facebook">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!--Trang Thai-->
                    <div class="row">
                        <div class="col-md-4">
                            <select onchange="this.className=this.options[this.selectedIndex].className"
                                    class="red-bg drop-down-status">
                                <option class="black-bg drop-down-status" value="huydon">Hủy đơn</option>
                                <option class="red-bg drop-down-status" value="donmoi" selected>Đơn mới</option>
                                <option class="yellow-bg drop-down-status" value="xuathang">Xuất hàng</option>
                                <option class="yellow-bg drop-down-status" value="chogui">Chờ gửi</option>
                                <option class="orange-bg drop-down-status" value="danggui">Đang gửi</option>
                                <option class="green-bg drop-down-status" value="nhanhang">Nhận hàng</option>
                                <option class="green-bg drop-down-status" value="nhancod">Nhận COD</option>
                                <option class="graybg drop-down-status" value="baohoan">Báo hoàn</option>
                                <option class="graybg drop-down-status" value="nhanhoan">Nhận hoàn</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <a class="tag" dropdowntoggle="" tooltip="Thêm tag" aria-haspopup="true">
                                <i class="fa fa-tag"></i>Tags
                            </a>
                        </div>
                    </div>
                    <!--Khach Hang & Ghi Chu-->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box-caption">
                                <span>
                                    Khách Hàng
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mp-field">
                                        <i class="fa fa-phone"></i>
                                        <input placeholder="Số điện thoại" type="text" class="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mp-field">
                                        <i class="fa fa-user"></i>
                                        <input placeholder="Họ tên khách hàng" type="text" class="">
                                    </div>
                                </div>
                            </div>
                            <div class="mp-field">
                                <i class="fa fa-home"></i>
                                <input placeholder="Địa chỉ nhận hàng" type="text" class="">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mp-field">
                                        <i class="fa fa-map-marker"></i>
                                        <app-select index="location" placeholder="huyện/tỉnh">
                                            <div class="dropdown">
                                                <input placeholder="Huyện, tỉnh" type="text" class="dropdown-location-input ">
                                            </div>
                                        </app-select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-caption">
                                <span>
                                    Sản phẩm
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mp-field">
                                        <select class="">
                                            <option value="0">-Chọn kho-</option>
                                            <option value="1">Kho: Kho A123</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="search">
                                        <button>
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <app-product index="product" _nghost-c10="">
                                            <div class="dropdown" placement="right">
                                                <input placeholder="Nhập tên hoặc mã sản phẩm" type="text" class="dropdown-product-input ">
                                                <ul class="dropdown-menu" role="menu">

                                                    <li role="menuitem"><a> Đồng hồ abc</a></li>
                                                    <li role="menuitem"><a> Kính a</a></li>
                                                </ul>
                                            </div>
                                        </app-product>
                                    </div>
                                </div>
                            </div>
                            <div class="mp-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Mã SP</th>
                                            <th class="text-right">Đơn giá</th>
                                            <th class="text-right">S.lượng</th>
                                            <th class="text-right">Thành tiền</th>

                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tr>
                                        <td class="text-center" colspan="8">
                                            <em>Chưa có mặt hàng nào được chọn</em>
                                        </td>
                                    </tr>
                                </table>
                                <p class="total">
                                    Tổng:
                                    <span>0đ</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-caption">
                                <span>
                                    Ghi chú
                                </span>
                            </div>
                            <div class="mp-field">
                                <textarea placeholder="Ghi chú nội bộ" class=""></textarea>
                            </div>
                            <div class="mp-field">
                                <textarea placeholder="Ghi chú khi phát hàng" class=""></textarea>
                            </div>
                            <div class="box-caption">
                                <span>
                                    Thanh toán
                                </span>
                            </div>
                            <div class="box-tt">
                                <div class="tt-row">
                                    <span>
                                        Giảm giá:
                                    </span>
                                    <input class="" type="text">
                                    <strong>.đ</strong>
                                </div>
                                <div class="tt-row">
                                    <span>
                                        <a container="body" tooltip="Lấy phí ship từ danh sách sản phẩm">
                                            <i aria-hidden="true" class="fa fa-refresh"></i>
                                        </a> Phí ship
                                        <i aria-hidden="true" class="fa fa-question-circle" container="body" tooltip="Phí ship thu của khách hàng khi nhận hàng"></i>:
                                    </span>
                                    <input class="number ng-untouched ng-pristine ng-valid" container="body" min="0" type="text">
                                    <strong>.đ</strong>
                                </div>
                                <div class="tt-row">
                                    <span>
                                        Đã thanh toán
                                        <i aria-hidden="true" class="fa fa-question-circle" container="body" tooltip="Tiền khách hàng thanh toán/ đặt cọc cho đơn hàng"></i>:
                                    </span>
                                    <input class="" type="text">
                                    <strong>.đ</strong>
                                </div>

                                <div class="tt-row">
                                    <span>
                                        Tiền COD:
                                    </span>
                                    <h5>0đ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col mp-control text-center">
                    <button class="btn btn-outline-primary" type="button"><i class="fa fa-save"></i>&nbsp;&nbsp;<span class="bold">Lưu</span></button>
                    <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i>&nbsp;&nbsp;<span class="bold">Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal modal-upload-orders" id="modal-upload-orders" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Tải lên đơn mới </h4>*@
                <h4 class="modal-title pull-left">TẠO ĐƠN HÀNG LOẠT</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="active">
                            <th style="width:50px !important;">STT</th>
                            <th>Họ Tên</th>
                            <th>SĐT</th>
                            <th>Địa chỉ</th>
                            <th>Ghi chú nội bộ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:50px !important;" class="active">
                                1
                                <a class="add-new">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                            <td style="padding: 2px;">
                                <input class="form-control input-sm ng-untouched ng-pristine ng-valid" placeholder="Họ tên" type="text">
                            </td>
                            <td style="padding: 2px;">
                                <input class="form-control input-sm ng-untouched ng-pristine ng-valid" placeholder="SĐT" type="text">
                            </td>
                            <td style="padding: 2px;">
                                <input class="form-control input-sm ng-untouched ng-pristine ng-valid" placeholder="Địa chỉ" type="text">
                            </td>
                            <td style="padding: 2px;">
                                <input class="form-control input-sm ng-untouched ng-pristine ng-valid" placeholder="Ghi chú nội bộ" type="text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col mp-control text-center">
                    <button class="btn btn-outline-primary" type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Tải lên</span></button>
                    <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i>&nbsp;&nbsp;<span class="bold">Hủy</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal modal-product" id="modal-add-order-" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Đơn mới </h4>*@
                <div class="mp-header">
                    <ul>
                        <li class="active">
                            <a>ĐƠN HÀNG</a>
                        </li>
                        <li class="">
                            <a>VẬN CHUYỂN </a>
                        </li>

                        <li class="">
                            <a> LỊCH SỬ</a>
                        </li>
                        <li>
                            <a> In phiếu</a>
                        </li>
                    </ul>
                    <div class="user-control">
                        <span></span>
                        <a class="facebook">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-12 fill-order-area">
                    @*<div class="container">
                            <div class="col-12 fill-order-area">
                                <div class="row">
                                    <select onchange="this.className=this.options[this.selectedIndex].className"
                                            class="red-bg drop-down-status drop-down-status">
                                        <option class="black-bg drop-down-status" value="huydon">Hủy đơn</option>
                                        <option class="red-bg drop-down-status" value="donmoi" selected>Đơn mới</option>
                                        <option class="yellow-bg drop-down-status" value="xuathang">Xuất hàng</option>
                                        <option class="yellow-bg drop-down-status" value="chogui">Chờ gửi</option>
                                        <option class="orange-bg drop-down-status" value="danggui">Đang gửi</option>
                                        <option class="green-bg drop-down-status" value="nhanhang">Nhận hàng</option>
                                        <option class="green-bg drop-down-status" value="nhancod">Nhận COD</option>
                                        <option class="graybg drop-down-status" value="baohoan">Báo hoàn</option>
                                        <option class="graybg drop-down-status" value="nhanhoan">Nhận hoàn</option>
                                    </select>

                                    <div class="mp-center" dropdown="" style="position: relative">
                                        <a class="tag" dropdowntoggle="" tooltip="Thêm tag" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-tag"></i>Tags
                                        </a>
                                        <ul class="dropdown-menu" role="menu">


                                            <li role="menuitem">
                                                <a class="dropdown-item" style="color: white; background-color: rgb(58, 216, 73);">
                                                    <i class=" glyphicon glyphicon-asterisk"></i> Khách Quen
                                                </a>
                                            </li>


                                            <li role="menuitem">
                                                <a class="dropdown-item" style="color: white; background-color: rgb(255, 38, 38);">
                                                    <i class=" glyphicon glyphicon-star-empty"></i> Hẹn Gọi
                                                </a>
                                            </li>

                                        </ul>
                                        <ul class="tags">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 customer fill-order-area">
                                    <div class="box-caption fill-order-area">
                                        <span>
                                            Khách Hàng
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 fill-order-area">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="name" type="text" class="form-control" name="name" placeholder="Số điện thoại">
                                            </div>
                                        </div>
                                        <div class="col-6 fill-order-area">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="name" type="text" class="form-control" name="name" placeholder="Tên khách hàng">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="box-caption">
                                        <span>
                                            Ghi chú
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="mp-content">
                        <section>
                            <div class="mp-bar">
                                <div class="mp-left">
                                    <select onchange="this.className=this.options[this.selectedIndex].className"
                                            class="red-bg drop-down-status">
                                        <option class="black-bg drop-down-status" value="huydon">Hủy đơn</option>
                                        <option class="red-bg drop-down-status" value="donmoi" selected>Đơn mới</option>
                                        <option class="yellow-bg drop-down-status" value="xuathang">Xuất hàng</option>
                                        <option class="yellow-bg drop-down-status" value="chogui">Chờ gửi</option>
                                        <option class="orange-bg drop-down-status" value="danggui">Đang gửi</option>
                                        <option class="green-bg drop-down-status" value="nhanhang">Nhận hàng</option>
                                        <option class="green-bg drop-down-status" value="nhancod">Nhận COD</option>
                                        <option class="graybg drop-down-status" value="baohoan">Báo hoàn</option>
                                        <option class="graybg drop-down-status" value="nhanhoan">Nhận hoàn</option>
                                    </select>
                                </div>
                                <div class="mp-center" dropdown="" style="position: relative">
                                    <a class="tag" dropdowntoggle="" tooltip="Thêm tag" aria-haspopup="true">
                                        <i class="fa fa-tag"></i>Tags
                                    </a>
                                    <ul class="tags"></ul>
                                </div>
                                <div class="mp-right">
                                    <ul></ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="cols">
                                <div class="colleft">
                                    <section class="customer">
                                        <div class="box-caption">
                                            <span>
                                                Khách Hàng
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="mp-field">
                                                    <i class="fa fa-phone"></i>
                                                    <input placeholder="Số điện thoại" type="text" class="">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="mp-field">
                                                    <i class="fa fa-user"></i>
                                                    <input placeholder="Họ tên khách hàng" type="text" class="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mp-field">
                                            <i class="fa fa-home"></i>
                                            <input placeholder="Địa chỉ nhận hàng" type="text" class="">

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="mp-field">
                                                    <i class="fa fa-map-marker"></i>
                                                    <app-select index="location" placeholder="huyện/tỉnh">
                                                        <div class="dropdown">

                                                            <input placeholder="Huyện, tỉnh" type="text" class="dropdown-location-input ">

                                                        </div>
                                                    </app-select>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="box-caption">
                                        <span>
                                            Sản phẩm

                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="mp-field">
                                                <select class="">
                                                    <option value="0">-chọn kho-</option>


                                                    <option value="1">Kho: Kho Thanh Shop</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">

                                            <div class="search">
                                                <button>
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <app-product index="product" _nghost-c10="">
                                                    <div class="dropdown" placement="right">
                                                        <input placeholder="Nhập tên hoặc mã sản phẩm" type="text" class="dropdown-product-input ">
                                                        <ul class="dropdown-menu" role="menu">

                                                            <li role="menuitem"><a> Đồng hồ abc</a></li>
                                                            <li role="menuitem"><a> Kính a</a></li>
                                                        </ul>
                                                    </div>
                                                </app-product>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mp-table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Mã SP</th>
                                                    <th class="text-right">Đơn Giá</th>
                                                    <th class="text-right">S.Lượng</th>
                                                    <th class="text-right">Thành tiền</th>

                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tr>
                                                <td class="text-center" colspan="8">
                                                    <em>Chưa có mặt hàng nào được chọn</em>
                                                </td>
                                            </tr>


                                        </table>
                                        <p class="total">
                                            Tổng:
                                            <span>0đ</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="colright">
                                    <div class="box-caption">
                                        <span>
                                            Ghi chú

                                        </span>
                                    </div>

                                    <div class="mp-field">
                                        <textarea placeholder="Ghi chú nội Bộ" class=""></textarea>
                                    </div>
                                    <div class="mp-field">
                                        <textarea placeholder="Ghi chú khi phát hàng" class=""></textarea>
                                    </div>
                                    <div class="box-caption">
                                        <span>
                                            Thanh toán

                                        </span>
                                    </div>
                                    <div class="box-tt">
                                        <div class="tt-row">
                                            <span>
                                                Giảm giá:
                                            </span>
                                            <input class="" type="text">
                                            <strong>.đ</strong>
                                        </div>
                                        <div class="tt-row">
                                            <span>
                                                <a container="body" tooltip="Lấy Phi SHIP từ danh sách sản phẩm">
                                                    <i aria-hidden="true" class="fa fa-refresh"></i>
                                                </a> Phí chuyển hàng
                                                <i aria-hidden="true" class="fa fa-question-circle" container="body" tooltip="Phí ship thu của khách hàng khi nhận hàng"></i>:
                                            </span>
                                            <input class="number ng-untouched ng-pristine ng-valid" container="body" min="0" type="text">
                                            <strong>.đ</strong>
                                        </div>
                                        <div class="tt-row">
                                            <span>
                                                Đã thanh toán
                                                <i aria-hidden="true" class="fa fa-question-circle" container="body" tooltip="Tiền khách hàng thanh toán/ đặt cọc cho đơn hàng"></i>:
                                            </span>
                                            <input class="" type="text">
                                            <strong>.đ</strong>
                                        </div>

                                        <div class="tt-row">
                                            <span>
                                                Tiền COD:
                                            </span>
                                            <h5>0đ</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="mp-control text-center">
                    <button class="btn btn-primary btn-sm" type="submit">Lưu</button>
                    <div class="btn-group dropup" dropdown="">
                        <button class="btn btn-primary btn-sm dropdown-toggle" dropdowntoggle="" type="button" aria-haspopup="true">
                            Lưu &amp; Đổi trạng thái
                            <span class="caret"></span>
                        </button>

                    </div>

                    <button class="btn btn-default btn-sm" type="button">Đóng</button>

                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.checker').on('ifChanged', function (event) {
                //alert(event.target.checked);
                if (event.target.checked) {
                    $(this).closest('tr').addClass('checked');
                } else {
                    $(this).closest('tr').removeClass('checked');
                }
            });

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff']
            })

            $(".line").peity("line", {
                fill: '#1ab394',
                stroke: '#169c81',
            })

            $(".bar").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"]
            })

            $(".bar_dashboard").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"],
                width: 100
            })

            var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            setInterval(function () {
                var random = Math.round(Math.random() * 10)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(","))
                    .change()
            }, 1000);

        });
    </script>
}
